/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 .tizers > div {
 	text-align: center;
 }
 .tizers > div  .image_wrap {
 	display: block;
 	margin-bottom: 5px;
 }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
form {
	margin-top: 55px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.contacts h2 {
	margin-bottom: 20px;
}


.top_phone, .logo, .top_header h1, .top_header h2 {
		text-align: center;
	}
 .tizers > div  .image_wrap {
 	display: inline-block;
 	margin-bottom: 0;
 }
  .tizers > div {
 	text-align: left;
 }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.top_header h1 {
	font-size: 50px;
	margin-top: 20px;
}
.top_header h2 {
	font-size: 28px;
}
.tabs_wrap .tab_btn {
	font-size: 12px;
}
.btn_wrap {
	text-align: center;
	padding-top: 20px;
}
.profy_item {
	width: 100%;
	text-align: center;
}
.prof h2 {
	font-size: 30px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.contacts .tabs {
	display: block;
	text-align: left;
}
.contacts button {
 font-size: 15px;
}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
		
}